@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Gilda+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
	--orange:#e67817;
	--blue:#1d77de;
	--white:#fff;
	--black:#111;

}
body, html {height: 100%;}
html{scroll-behavior: smooth;}

body
{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
a{
	color:var(--black);text-decoration: none;font-weight:500;
	-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease;
}
a:hover{color:var(--black);text-decoration: none;}


p{color:var(--black);font-size: 14px;font-weight:400;}
.tick_double ul{columns: 2; -webkit-columns: 2; -moz-columns: 2;}
button:focus{outline:none;}
.sectiongap{padding:20px 0;}
ul{padding:0;margin-bottom:0;}
li{list-style: none;}

/* button */
.btn-primary {
    font-family: "Raleway", serif;
    background-color:#bd8c30;color:var(--white);border:0;font-size:16px!important;
    font-weight:400;padding:7px 15px;border-radius:2px;outline:0;
    background-image: -webkit-linear-gradient(45deg, maroon 50%, transparent 50%);
    background-image: linear-gradient(45deg, maroon 50%, transparent 50%);
    background-position: 100%;background-size: 400%;-webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;box-shadow:none;
    animation: pulse 1s infinite;
  }
.btn-primary:hover {background-position: 0;}
.btn-primary i{color: var(--white);margin-left: 5px;font-size: 12px;}
.btn-primary:hover i{color: var(--white);}
.btn-primary:focus{box-shadow:none;background-color: maroon;border: 0;}
/* button */

.tick ul{margin:0 0 0 30px;} 
.tick ul li{margin-bottom:20px;}
.tick ul li:before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    background:var(--orange);
    color:var(--white);
    font-size: 12px;
    padding: 5px;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
	margin-left: -30px;
	margin-right: 6px;
}

.section_title{
    margin-bottom: 30px;
    text-align: center;
}	
.section_title h2{
	/* font-family: 'Philosopher', sans-serif; */
    font-weight: 600;
    margin-bottom: 18px;
    font-size: 40px;
	color:#1d384f;
    text-align: center;
	position: relative;
}
.section_title h2:after{
    position: absolute;
    content: '';
    background: #00ab82;
    width: 60px;
    height: 4px;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
/*header section*/
.logo-main img{width:240px;transition: 400ms all ease;}

.navbar{padding:5px 0; }
/*banner start*/
.carousel-indicators [data-bs-target] {
    width: 14px;
    height: 14px;
	border-radius:50%;
    background-color: #00ab82;
	display:block;
}
.banner-main .carousel-indicators {
    z-index: 444;
    left: -125px;
    bottom: unset;
    transform: translateY(-50%);
    top: 50%;
    display: unset;
    padding: 0;
    margin-right: 5%;
	z-index:99;
}
.carousel-indicators {bottom: -45px;}

/* .banner-main{margin-top: 80px;} */

.banner-main .carousel-item{position: relative;}

.banner-main .carousel-caption{ 
    transform:translateY(0);
    width:100%;
    left:10%;
    right:0;
	margin:0 auto;
	padding-bottom:0;
    bottom:140px;
    z-index:99;
    text-align: left;
}

.banner-main .carousel-caption h2{font-size: 36px;color: var(--black);font-weight: 500;}

/*banner end*/


/*backto-top start*/

#backto-top {
  display: inline-block;
  background:rgb(214, 154, 43);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius:50%;
  border:1px solid #fff;
  position: fixed;
  bottom: 30px;
  right: 14px;
  transition: background-color .3s,  
  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  text-align: center;
  box-shadow: 5px 5px 15px 0px rgb(0 0 0 / 10%);
}
#backto-top i{font-size:18px;color: #fff;line-height: 50px;}

#backto-top:hover {
  cursor: pointer;
  background:#1d384f;
}
#backto-top:active {
  background: #1d384f;
}
#backto-top.show {
  opacity: 1;
  visibility: visible;
}

/*backto-top end*/

.thanku_bg {
  /* background-image: radial-gradient(circle, var(--white), var(--white), #ffeed2); */
  background-image: url(images/paper-texture.webp);
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;
  padding:140px 0;
}
.thanku_bg p{font-size:22px;color:var(--black);}
.form-control:focus {box-shadow:none;}


/*dots*/
.owl-nav{margin-top:16px;text-align:center;}
.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next {
    font-size: 22px;
    background:#76c04e;
    display: inline-block;
    width: 35px;
    height: 38px;
	margin:0 5px;
	color:#fff;
	border-radius:6px;
	line-height:38px;
}
.owl-carousel .owl-nav .owl-prev:hover, .owl-carousel .owl-nav .owl-next:hover {background:#006cb5;}
.owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled {
    display: inherit!important;
}
.owl-carousel .item {width:94%; margin: 0 auto;}
.owl-carousel .item img{border-radius: 0;}
.owl-carousel .owl-stage{display: flex;}
.article-items {
    display: flex;
    flex: 1 0 auto;
    height: 100%;
}
/*dots end*/


/*HEADER*/
.menumain{padding: 5px 0;transition: 400ms all ease;background-color: transparent;}

.menumain .menu li{position: relative;margin: 0 5px;}
.menumain .menu li:after{
    position: absolute;
    content: '';
    background: var(--white);
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    transition: 400ms all ease;
}

.menumain .menu li:hover::after{width: 100%;transition: 400ms all ease;}

.menumain .menu-buttons{margin-left: 20px;}
.menumain .menu-buttons .btn-outline-light{border-radius: 0;font-family: "Raleway", serif;font-size: 16px;padding: 10px 15px;font-weight: 500;animation: pulse 1s infinite;}
.menumain .menu-buttons .btn-outline-light i{font-size: 12px;margin-left: 5px;}

.custom-logo-link{display: block;padding:10px 0 0 0;position: relative;z-index: 2;top: -4px;}
.custom-logo-link::before {
    display: none;
    content: "";
    position: absolute;
    right: 100%;
    height: 108%;
    top: 0;
    width: 500px;
    background: #fff;
}
.custom-logo-link::after {
    display: none;
    content: "";
    position: absolute;
    width: 250px;
    border-top: 85px solid #fff;
    border-right: 62px solid transparent;
    top: 0;
    left: -20px;
    z-index: -1;
    height: 100%;
}

.scroll_navbar{transition: 400ms all ease;background-color:rgba(0,0,0,0.7 )!important;padding: 5px 0;box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;}
.scroll_navbar .logo-main img{width: 190px;transition: 400ms all ease;}
.scroll_navbar .custom-logo-link::after{border-top: 80px solid #fff;transition: 400ms all ease;}
/*HEADER*/


/*FLOATING ICONS*/
.floating_icon_bar {
    position: fixed;
    bottom: 10%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 99;
	right:15px;
}

.floating_icon_bar a {
    display: block;
    text-align: center;
    padding: 12px;
    transition: all 0.3s ease;
    color: #fff;
    font-size: 16px;
	width:50px;
	height:50px;
	line-height:30px;
	border-radius:50%;
	margin:20px 0;
}
.floating_icon_bar a:last-child{margin-bottom: 0;}
.floating_icon_bar i{color: #fff;}
/*FLOATING ICONS*/

/*MODAL*/
.modal{background-color: rgba(0,0,0,0.8);text-align: center;}
.modal-content{border-radius: 0;box-shadow: #89898bb9 0px 13px 27px -5px, #5d5959a4 0px 8px 16px -8px;}
.modal .btn-primary{animation: none;}
.modal-body{padding: 30px;background-image: url(images/shape.png);background-size: 25% 30%;background-repeat: no-repeat;}
.modal h2{font-family: "Raleway", serif;font-weight: 600;font-size: 26px;}
.btn-close{display: inline-block;height: 30px;width: 30px;line-height: 30px;border-radius: 50%;background-color: #777;opacity: 1;position: absolute;top: -20px;right: -20px;background-image: url(images/close.png)!important;background-size: 30% 30%;}
.btn-close:hover{opacity: 1;background-color: #888;}
.btn-close:focus{box-shadow: none;border: 0;}

.form-control{padding: 10px;margin: 35px 0;font-size: 14px;border: 0;border-bottom: 1px solid #555;border-radius: 0;background-color: transparent;}
.form-control:focus{border-bottom: 1px solid #777;background-color: transparent;}
::placeholder{font-size: 14px;font-family: "Raleway", serif;color: var(--black)!important;}
/* .form-control:focus::placeholder{letter-spacing: 1.5px;transition: 400ms all ease;} */
/*MODAL*/


/*FOOTER*/
footer{margin-top:auto;font-size: 13px;}
footer img{width: 180px;}
footer a{font-weight: 400;font-size: 12px;}
footer .footlink ul li:before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    color:var(--blue);
    font-size: 10px;margin-right: 10px;

}
footer ul li{margin-bottom: 5px;}
footer .footlink a:hover
{
    margin-left: 5px;color: var(--blue);
}
footer .foot_add i{font-size: 10px;color: var(--blue);float: left;margin-right: 5px;position: relative;top: 4px;}
footer .foot_add p{font-size: 12px;margin-bottom: 0;}
footer .foot_add ul li{display: flex;margin-bottom: 10px;}

.copyright{background-color: #371B10;padding: 10px 0;}
.copyright p{margin-bottom: 0;color: #ffff;font-size: 12px;}
/*FOOTER*/